body {
  font-family: 'Do Hyeon', sans-serif;
  background-image: url("riho-kroll-m4sGYaHYN5o-unsplash_1080.jpg");
  background-size: cover;
}

/*popup css*/
#popup {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
} /* absolute / margin 을 통한 화면 정중앙 정렬 및 디자인*/ 

.layer{ 
  width: 350px; 
  height: 150px; 
  background-color: #fff;
  border: 1px solid #e5e5e5;
  position: absolute; top: 0; left: 0; bottom: 0; right: 0; 
  margin: auto; border-radius: 5px; box-shadow: 0 0 10px -4px;
  padding: 30px;
  text-align: center;
}
#popup_text{ font-size: 20px;}
#popup_btn{ margin-top: 15px;}

/*scoreboard css*/
td {
  text-align: center;
  width: 85px;
}

#board {
  width: 1000px;
  background-color: #fff;
  border: 1px solid #e5e5e5; border-radius: 5px; box-shadow: 0 0 10px -4px;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  opacity: 0;
}

/*dice css*/
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px rgba(0,0,0,0);
  border-radius: 5%;
  display: block;
  position: relative;
  padding: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* label::before {
  background-color: blue;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid blue;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 29px;
  transition-duration: 0.2s;
  transform: scale(0);
} */


:checked+label {
  background-color: skyblue;
}

/* :checked+label::before {
  content: "V";
  font-size: 15px;
  background-color: blue;
  transform: scale(1);
} */

/*fade in motion*/
.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}