body {
  font-family: 'Do Hyeon', sans-serif;
  background-image: url("riho-kroll-m4sGYaHYN5o-unsplash_1080.jpg");
  background-size: cover;
  height: 100%;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -100px;
}

h1 {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 50px;
  text-shadow: 4px 4px 3px gray;
}

#menu {
  margin: auto;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #e5e5e5; border-radius: 5px; box-shadow: 0 0 10px -4px;
  min-width: 200px;
  max-width: 400px;
  height: 300px;
}

/*fade in motion*/
.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade-out {
  animation: fadeOut ease 0.5s;
  -webkit-animation: fadeOut ease 0.5s;
  -moz-animation: fadeOut ease 0.5s;
  -o-animation: fadeOut ease 0.5s;
  -ms-animation: fadeOut ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/*start button funnier*/
.bg-animate-color {
  animation: random-bg .5s linear infinite;
}
/* add animation to bg color  */
@keyframes random-bg {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.fun-btn {
  background-color: lightskyblue;
  color: white;
  border: none;
  transition: all .3s ease;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.fun-btn:hover {
  animation: random-bg .5s linear infinite, grow 1300ms ease infinite;
}
/* pulsating effect on button */
@keyframes grow {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}
