html { 
  height: 100%;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: burlywood;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 4px 4px 3px gray;
}

#menu {
  margin: auto;
  margin-top: 5%;
  background-color: beige;
  min-width: 200px;
  max-width: 400px;
  height: 300px;
}

.cube {
  animation: rotate 10000ms linear infinite;
  transform-style: preserve-3d;
  height: 100px;
  width: 100px;
  margin: auto;
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
  }
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.front {
  background: #333;
  transform: translateZ(50px);
}

.back {
  background: #444;
  transform: translateZ(-50px);
}

.left {
  background: #555;
  transform: translateX(-50px) rotateY(90deg);
}

.right {
  background: #666;
  transform: translateX(50px) rotateY(90deg);
}

.top {
  background: #777;
  transform: translateY(-50px) rotateX(90deg);
}

.bottom {
  background: #888;
  transform: translateY(50px) rotateX(90deg);
}